{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://sms.amazonaws.com/"
        },
        {
            "url": "http://sms.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AAWS Sever Migration Service</fullname> <p>This is the <i>AWS Sever Migration Service API Reference</i>. It provides descriptions, syntax, and usage examples for each of the actions and data types for the AWS Sever Migration Service (AWS SMS). The topic for each action shows the Query API request parameters and the XML response. You can also view the XML request elements in the WSDL.</p> <p>Alternatively, you can use one of the AWS SDKs to access an API that's tailored to the programming language or platform that you're using. For more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">AWS SDKs</a>.</p> <p>To learn more about the Server Migration Service, see the following resources:</p> <ul> <li> <p> <a href=\"https://aws.amazon.com/server-migration-service/\">AWS Sever Migration Service product page</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/server-migration-service/latest/userguide/server-migration.html\">AWS Sever Migration Service User Guide</a> </p> </li> </ul>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Server Migration Service",
        "version": "2016-10-24",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/sms-2016-10-24.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "sms"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/sms/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates an application. An application consists of one or more server groups. Each server group contain one or more servers.",
                "operationId": "CreateApp",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "appSummary": {
                                            "description": "Summary description of the application.",
                                            "properties": {
                                                "appId": {
                                                    "description": "Unique ID of the application.",
                                                    "type": "string"
                                                },
                                                "creationTime": {
                                                    "description": "Time of creation of this application.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": "Description of the application.",
                                                    "type": "string"
                                                },
                                                "lastModified": {
                                                    "description": "Timestamp of the application's creation.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "latestReplicationTime": {
                                                    "description": "Timestamp of the application's most recent successful replication.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "launchDetails": {
                                                    "description": "Details about the latest launch of the application.",
                                                    "properties": {
                                                        "latestLaunchTime": {
                                                            "description": "Latest time this application was launched successfully.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "stackId": {
                                                            "description": "Identifier of the latest stack launched for this application.",
                                                            "type": "string"
                                                        },
                                                        "stackName": {
                                                            "description": "Name of the latest stack launched for this application.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "launchStatus": {
                                                    "description": "Launch status of the application.",
                                                    "enum": [
                                                        "READY_FOR_CONFIGURATION",
                                                        "CONFIGURATION_IN_PROGRESS",
                                                        "CONFIGURATION_INVALID",
                                                        "READY_FOR_LAUNCH",
                                                        "VALIDATION_IN_PROGRESS",
                                                        "LAUNCH_PENDING",
                                                        "LAUNCH_IN_PROGRESS",
                                                        "LAUNCHED",
                                                        "DELTA_LAUNCH_IN_PROGRESS",
                                                        "DELTA_LAUNCH_FAILED",
                                                        "LAUNCH_FAILED",
                                                        "TERMINATE_IN_PROGRESS",
                                                        "TERMINATE_FAILED",
                                                        "TERMINATED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "launchStatusMessage": {
                                                    "description": "A message related to the launch status of the application.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Name of the application.",
                                                    "type": "string"
                                                },
                                                "replicationStatus": {
                                                    "description": "Replication status of the application.",
                                                    "enum": [
                                                        "READY_FOR_CONFIGURATION",
                                                        "CONFIGURATION_IN_PROGRESS",
                                                        "CONFIGURATION_INVALID",
                                                        "READY_FOR_REPLICATION",
                                                        "VALIDATION_IN_PROGRESS",
                                                        "REPLICATION_PENDING",
                                                        "REPLICATION_IN_PROGRESS",
                                                        "REPLICATED",
                                                        "DELTA_REPLICATION_IN_PROGRESS",
                                                        "DELTA_REPLICATED",
                                                        "DELTA_REPLICATION_FAILED",
                                                        "REPLICATION_FAILED",
                                                        "REPLICATION_STOPPING",
                                                        "REPLICATION_STOP_FAILED",
                                                        "REPLICATION_STOPPED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "replicationStatusMessage": {
                                                    "description": "A message related to the replication status of the application.",
                                                    "type": "string"
                                                },
                                                "roleName": {
                                                    "description": "Name of the service role in the customer's account used by AWS SMS.",
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "Status of the application.",
                                                    "enum": [
                                                        "CREATING",
                                                        "ACTIVE",
                                                        "UPDATING",
                                                        "DELETING",
                                                        "DELETED",
                                                        "DELETE_FAILED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "statusMessage": {
                                                    "description": "A message related to the status of the application",
                                                    "type": "string"
                                                },
                                                "totalServerGroups": {
                                                    "description": "Number of server groups present in the application.",
                                                    "type": "integer"
                                                },
                                                "totalServers": {
                                                    "description": "Number of servers present in the application.",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "serverGroups": {
                                            "description": "List of server groups included in the application.",
                                            "items": {
                                                "description": "A logical grouping of servers.",
                                                "properties": {
                                                    "name": {
                                                        "description": "Name of a server group.",
                                                        "type": "string"
                                                    },
                                                    "serverGroupId": {
                                                        "description": "Identifier of a server group.",
                                                        "type": "string"
                                                    },
                                                    "serverList": {
                                                        "description": "List of servers belonging to a server group.",
                                                        "items": {
                                                            "description": "Represents a server.",
                                                            "properties": {
                                                                "replicationJobId": {
                                                                    "description": "The identifier of the replication job.",
                                                                    "type": "string"
                                                                },
                                                                "replicationJobTerminated": {
                                                                    "description": "Indicates whether the replication job is deleted or failed.",
                                                                    "type": "boolean"
                                                                },
                                                                "serverId": {
                                                                    "description": "The identifier of the server.",
                                                                    "type": "string"
                                                                },
                                                                "serverType": {
                                                                    "description": "The type of server.",
                                                                    "enum": [
                                                                        "VIRTUAL_MACHINE"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "vmServer": {
                                                                    "description": "Information about the VM server.",
                                                                    "properties": {
                                                                        "vmManagerName": {
                                                                            "description": "The name of the VM manager.",
                                                                            "type": "string"
                                                                        },
                                                                        "vmManagerType": {
                                                                            "description": "The type of VM management product.",
                                                                            "enum": [
                                                                                "VSPHERE",
                                                                                "SCVMM",
                                                                                "HYPERV-MANAGER"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "vmName": {
                                                                            "description": "The name of the VM.",
                                                                            "type": "string"
                                                                        },
                                                                        "vmPath": {
                                                                            "description": "The VM folder path in the vCenter Server virtual machine inventory tree.",
                                                                            "type": "string"
                                                                        },
                                                                        "vmServerAddress": {
                                                                            "description": "Information about the VM server location.",
                                                                            "properties": {
                                                                                "vmId": {
                                                                                    "description": "The identifier of the VM.",
                                                                                    "type": "string"
                                                                                },
                                                                                "vmManagerId": {
                                                                                    "description": "The identifier of the VM manager.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "tags": {
                                            "description": "List of taags associated with the application.",
                                            "items": {
                                                "description": "A label that can be assigned to an application.",
                                                "properties": {
                                                    "key": {
                                                        "description": "Tag key.",
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "description": "Tag value.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnauthorizedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "MissingRequiredParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "clientToken": {
                                        "description": "A unique, case-sensitive identifier you provide to ensure idempotency of application creation.",
                                        "type": "string"
                                    },
                                    "description": {
                                        "description": "Description of the new application",
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "Name of the new application.",
                                        "type": "string"
                                    },
                                    "roleName": {
                                        "description": "Name of service role in customer's account to be used by AWS SMS.",
                                        "type": "string"
                                    },
                                    "serverGroups": {
                                        "description": "List of server groups to include in the application.",
                                        "items": {
                                            "description": "A logical grouping of servers.",
                                            "properties": {
                                                "name": {
                                                    "description": "Name of a server group.",
                                                    "type": "string"
                                                },
                                                "serverGroupId": {
                                                    "description": "Identifier of a server group.",
                                                    "type": "string"
                                                },
                                                "serverList": {
                                                    "description": "List of servers belonging to a server group.",
                                                    "items": {
                                                        "description": "Represents a server.",
                                                        "properties": {
                                                            "replicationJobId": {
                                                                "description": "The identifier of the replication job.",
                                                                "type": "string"
                                                            },
                                                            "replicationJobTerminated": {
                                                                "description": "Indicates whether the replication job is deleted or failed.",
                                                                "type": "boolean"
                                                            },
                                                            "serverId": {
                                                                "description": "The identifier of the server.",
                                                                "type": "string"
                                                            },
                                                            "serverType": {
                                                                "description": "The type of server.",
                                                                "enum": [
                                                                    "VIRTUAL_MACHINE"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "vmServer": {
                                                                "description": "Information about the VM server.",
                                                                "properties": {
                                                                    "vmManagerName": {
                                                                        "description": "The name of the VM manager.",
                                                                        "type": "string"
                                                                    },
                                                                    "vmManagerType": {
                                                                        "description": "The type of VM management product.",
                                                                        "enum": [
                                                                            "VSPHERE",
                                                                            "SCVMM",
                                                                            "HYPERV-MANAGER"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "vmName": {
                                                                        "description": "The name of the VM.",
                                                                        "type": "string"
                                                                    },
                                                                    "vmPath": {
                                                                        "description": "The VM folder path in the vCenter Server virtual machine inventory tree.",
                                                                        "type": "string"
                                                                    },
                                                                    "vmServerAddress": {
                                                                        "description": "Information about the VM server location.",
                                                                        "properties": {
                                                                            "vmId": {
                                                                                "description": "The identifier of the VM.",
                                                                                "type": "string"
                                                                            },
                                                                            "vmManagerId": {
                                                                                "description": "The identifier of the VM manager.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "tags": {
                                        "description": "List of tags to be associated with the application.",
                                        "items": {
                                            "description": "A label that can be assigned to an application.",
                                            "properties": {
                                                "key": {
                                                    "description": "Tag key.",
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "description": "Tag value.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateReplicationJob": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a replication job. The replication job schedules periodic replication runs to replicate your server to AWS. Each replication run creates an Amazon Machine Image (AMI).",
                "operationId": "CreateReplicationJob",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "replicationJobId": {
                                            "description": "The unique identifier of the replication job.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "MissingRequiredParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UnauthorizedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServerCannotBeReplicatedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ReplicationJobAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "NoConnectorsAvailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "InternalError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "TemporarilyUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "description": {
                                        "description": "The description of the replication job.",
                                        "type": "string"
                                    },
                                    "encrypted": {
                                        "description": "When <i>true</i>, the replication job produces encrypted AMIs. See also <code>KmsKeyId</code> below.",
                                        "type": "boolean"
                                    },
                                    "frequency": {
                                        "description": "The time between consecutive replication runs, in hours.",
                                        "type": "integer"
                                    },
                                    "kmsKeyId": {
                                        "description": "<p>KMS key ID for replication jobs that produce encrypted AMIs. Can be any of the following: </p> <ul> <li> <p>KMS key ID</p> </li> <li> <p>KMS key alias</p> </li> <li> <p>ARN referring to KMS key ID</p> </li> <li> <p>ARN referring to KMS key alias</p> </li> </ul> <p> If encrypted is <i>true</i> but a KMS key id is not specified, the customer's default KMS key for EBS is used. </p>",
                                        "type": "string"
                                    },
                                    "licenseType": {
                                        "description": "The license type to be used for the AMI created by a successful replication run.",
                                        "enum": [
                                            "AWS",
                                            "BYOL"
                                        ],
                                        "type": "string"
                                    },
                                    "numberOfRecentAmisToKeep": {
                                        "description": "The maximum number of SMS-created AMIs to retain. The oldest will be deleted once the maximum number is reached and a new AMI is created.",
                                        "type": "integer"
                                    },
                                    "roleName": {
                                        "description": "The name of the IAM role to be used by the AWS SMS.",
                                        "type": "string"
                                    },
                                    "runOnce": {
                                        "description": "<p/>",
                                        "type": "boolean"
                                    },
                                    "seedReplicationTime": {
                                        "description": "The seed replication time.",
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "serverId": {
                                        "description": "The identifier of the server.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "serverId",
                                    "seedReplicationTime"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteApp": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes an existing application. Optionally deletes the launched stack associated with the application and all AWS SMS replication jobs for servers in the application.",
                "operationId": "DeleteApp",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnauthorizedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "MissingRequiredParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "appId": {
                                        "description": "ID of the application to delete.",
                                        "type": "string"
                                    },
                                    "forceStopAppReplication": {
                                        "description": "While deleting the application, stop all replication jobs corresponding to the servers in the application.",
                                        "type": "boolean"
                                    },
                                    "forceTerminateApp": {
                                        "description": "While deleting the application, terminate the stack corresponding to the application.",
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteAppLaunchConfiguration": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes existing launch configuration for an application.",
                "operationId": "DeleteAppLaunchConfiguration",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnauthorizedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "MissingRequiredParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "appId": {
                                        "description": "ID of the application associated with the launch configuration.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteAppReplicationConfiguration": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes existing replication configuration for an application.",
                "operationId": "DeleteAppReplicationConfiguration",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnauthorizedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "MissingRequiredParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "appId": {
                                        "description": "ID of the application associated with the replication configuration.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteReplicationJob": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes the specified replication job.</p> <p>After you delete a replication job, there are no further replication runs. AWS deletes the contents of the Amazon S3 bucket used to store AWS SMS artifacts. The AMIs created by the replication runs are not deleted.</p>",
                "operationId": "DeleteReplicationJob",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "MissingRequiredParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UnauthorizedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ReplicationJobNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "replicationJobId": {
                                        "description": "The identifier of the replication job.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "replicationJobId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteServerCatalog": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes all servers from your server catalog.",
                "operationId": "DeleteServerCatalog",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnauthorizedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "MissingRequiredParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DisassociateConnector": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Disassociates the specified connector from AWS SMS.</p> <p>After you disassociate a connector, it is no longer available to support replication jobs.</p>",
                "operationId": "DisassociateConnector",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "MissingRequiredParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "UnauthorizedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "connectorId": {
                                        "description": "The identifier of the connector.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "connectorId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#GenerateChangeSet": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Generates a target change set for a currently launched stack and writes it to an Amazon S3 object in the customer’s Amazon S3 bucket.",
                "operationId": "GenerateChangeSet",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "s3Location": {
                                            "description": "Location of the Amazon S3 object.",
                                            "properties": {
                                                "bucket": {
                                                    "description": "Amazon S3 bucket name.",
                                                    "type": "string"
                                                },
                                                "key": {
                                                    "description": "Amazon S3 bucket key.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnauthorizedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "MissingRequiredParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "appId": {
                                        "description": "ID of the application associated with the change set.",
                                        "type": "string"
                                    },
                                    "changesetFormat": {
                                        "description": "Format for the change set.",
                                        "enum": [
                                            "JSON",
                                            "YAML"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#GenerateTemplate": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Generates an Amazon CloudFormation template based on the current launch configuration and writes it to an Amazon S3 object in the customer’s Amazon S3 bucket.",
                "operationId": "GenerateTemplate",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "s3Location": {
                                            "description": "Location of the Amazon S3 object.",
                                            "properties": {
                                                "bucket": {
                                                    "description": "Amazon S3 bucket name.",
                                                    "type": "string"
                                                },
                                                "key": {
                                                    "description": "Amazon S3 bucket key.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnauthorizedOperationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "MissingRequiredParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "appId": {
                                        "description": "ID of the application associated with the Amazon CloudFormation template.",
                                        "type": "string"
                                    },
                                    "templateFormat": {
                                        "description": "Format for generating the Amazon CloudFormation template.",
                                        "enum": [
                                            "JSON",
                                            "YAML"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#GetApp": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Retrieve information about an application.",
                "operationId": "GetApp",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "appSummary": {
                                            "description": "Information about the application.",
                                            "properties": {
                                                "appId": {
                                                    "description": "Unique ID of the application.",
                                                    "type": "string"
                                                },
                                                "creationTime": {
                                                    "description": "Time of creation of this application.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": "Description of the application.",
                                                    "type": "string"
                                                },
                                                "lastModified": {
                                                    "description": "Timestamp of the application's creation.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "latestReplicationTime": {
                                                    "description": "Timestamp of the application's most recent successful replication.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "launchDetails": {
                                                    "description": "Details about the latest launch of the application.",
                                                    "properties": {
                                                        "latestLaunchTime": {
                                                            "description": "Latest time this application was launched successfully.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "stackId": {
                                                            "description": "Identifier of the latest stack launched for this application.",
                                                            "type": "string"
                                                        },
                                                        "stackName": {
                                                            "description": "Name of the latest stack launched for this application.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "launchStatus": {
                                                    "description": "Launch status of the application.",
                                                    "enum": [
                                                        "READY_FOR_CONFIGURATION",
                                                        "CONFIGURATION_IN_PROGRESS",
                                                        "CONFIGURATION_INVALID",
                                                        "READY_FOR_LAUNCH",
                                                        "VALIDATION_IN_PROGRESS",
                                                        "LAUNCH_PENDING",
                                                        "LAUNCH_IN_PROGRESS",
                                                        "LAUNCHED",
                                                        "DELTA_LAUNCH_IN_PROGRESS",
                                                        "DELTA_LAUNCH_FAILED",
                                                        "LAUNCH_FAILED",
                                                        "TERMINATE_IN_PROGRESS",
                                                        "TERMINATE_FAILED",
                                                        "TERMINATED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "launchStatusMessage": {
                                                    "description": "A message related to the launch status of the application.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Name of the application.",
                                                    "type": "string"
                                                },
                                                "replicationStatus": {
                                                    "description": "Replication status of the application.",
                                                    "enum": [
[...]
